$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$logo-color: #000000;
$fon-color: #f5f4fa;
$footer-bgr-color: #2f303a;
$page-header-color: #ececec;
$button-hover-color: #188ce8;

$font-1: Roboto, sans-serif;
$font-2: Raleway, sans-serif;
